<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>kybnew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <listener>
    <listener-class>com.kyb.crawl.main.MyTimerTask</listener-class>
  </listener>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.kyb.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.kyb.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddQuestionServlet</servlet-name>
    <servlet-class>com.kyb.servlet.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestionServlet</servlet-name>
    <url-pattern>/add_question</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteQuestionServlet</servlet-name>
    <servlet-class>com.kyb.servlet.DeleteQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestionServlet</servlet-name>
    <url-pattern>/remove_question</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.kyb.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>com.kyb.servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/UploadFilehh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionQueryServlet</servlet-name>
    <servlet-class>com.kyb.servlet.QuestionQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionQueryServlet</servlet-name>
    <url-pattern>/QuestionQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionSearchServlet</servlet-name>
    <servlet-class>com.kyb.servlet.QuestionFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionSearchServlet</servlet-name>
    <url-pattern>/filterCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>com.kyb.servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/EmailActive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitUserTagsServlet</servlet-name>
    <servlet-class>com.kyb.servlet.InitUserTagsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitUserTagsServlet</servlet-name>
    <url-pattern>/initialTags</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsQueryServlet</servlet-name>
    <servlet-class>com.kyb.servlet.NewsQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsQueryServlet</servlet-name>
    <url-pattern>/NewsQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangepasswordServlet</servlet-name>
    <servlet-class>com.kyb.servlet.ChangepasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangepasswordServlet</servlet-name>
    <url-pattern>/passwordChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userCenter</servlet-name>
    <servlet-class>com.kyb.servlet.UsercenterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userCenter</servlet-name>
    <url-pattern>/userCenter_compile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadimgServlet</servlet-name>
    <servlet-class>com.kyb.servlet.UploadimgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadimgServlet</servlet-name>
    <url-pattern>/upload_userpic</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>UploadimgfileServlet</servlet-name>
    <servlet-class>com.kyb.servlet.UploadimgfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadimgfileServlet</servlet-name>
    <url-pattern>/ques/upload</url-pattern>
  </servlet-mapping>
</web-app>